<!DOCTYPE html>
<html lang="de-CH">
<head>
##HEAD##
<!-- Layout: general.html -->
</head>
<body class="logged_##loggedIn## css_##action##">
	##BODY##
	<div id="debug" class="logged_##loggedIn##"><!-- start debug -->##DEBUG##</div><!-- end debug -->
	<div id="bottom" class="logged_##loggedIn##"><!-- start viewDefault-#bottom -->
		<div style="width:auto;float:left;"><!-- start viewDefault-bottom-left -->
			<a href="#top" target="_self">&uarr; ##LL:top##</a> ##controller##->##action##
		</div><!-- end viewDefault-bottom-left -->
		<div style="width:auto;float:right;"> ##COPYLEFT##</div><!-- copyleft-notice -->
		<div style="clear:both;"><!-- start viewDefault-bottom-footer --> ##FOOTER## </div><!-- end viewDefault-bottom-footer -->
	</div><!-- end viewDefault-#bottom -->
</body>
</html>
