<!-- start View default.html -->
<div id="top"><!-- start viewDefault-top -->
	<form id="api_admin_form" name="api_admin_form" class="api_admin_form" enctype="multipart/form-data" action="##url##" method="post"><!-- start viewDefault-api_admin_form -->
		<div class="toolbar logged_##loggedIn##" style=""><!-- start viewDefault-toolbar -->
			##toolbar##
		</div><!-- end viewDefault-toolbar -->
		<div class="content" ><!-- start viewDefault-content -->
			<input type="hidden" name="act" value="##action##" />
			##text## ##button## ##page##
		</div><!-- end viewDefault-content -->
	</form><!-- end viewDefault-api_admin_form -->
</div><!-- end viewDefault-top -->

<!-- end View default.html -->
