<!-- start View welcome.html -->
<div id="top"><!-- start viewWelcome-top -->
	<form id="api_admin_form" name="api_admin_form" class="api_admin_form" enctype="multipart/form-data" action="##url##" method="post"><!-- start viewWelcome-api_admin_form -->
		<div class="toolbar logged_##loggedIn##" style=""><!-- start viewDefault-toolbar -->
			##toolbar##
		</div><!-- end viewDefault-toolbar -->
		<div class="content" ><!-- start viewWelcome-content -->
			<div class="notes" style="padding-top:5px;">
				<div style="">
					<h1 style="margin-bottom:13px;">##title##</h1>
				</div>
				
				<div style="background:#fff;border-radius:5px;padding:3px;">
					##page##
					##LINK##
				</div>
				
				##button##
				
			</div>
		</div><!-- end viewWelcome-content -->
	</form><!-- end viewWelcome-api_admin_form -->
</div><!-- end viewWelcome-top -->

<!-- end View welcome.html -->
