<div style="margin:0px;padding:5px 0;border:0px solid #a00;">
<div style="margin:0px;width:auto;float:left;margin-right:4px;"><!-- start actionsToolbar-left actions -->
			 	<input class="dateienAction" title="##LL:newact.dateien.title##" type="submit" name="newact[dateien]" value="##LL:newact.dateien.value##" />
			 	<input class="clouduserAction" title="##LL:newact.clouduser.title##" type="submit" name="newact[clouduser]" value="##LL:newact.clouduser.value##" />
			 	<input class="exportAction" title="##LL:newact.export.title##" type="submit" name="newact[export]" value="##LL:newact.export.value##" />
			 	<input class="documentsAction" title="##LL:newact.documents.title##" type="submit" name="newact[documents]" value="##LL:newact.documents.value##" />
			 	##connection_name##
		 	</div><!-- end actionsToolbar-left -->
		 	<div style="width:auto;float:right;margin-right:4px;"><!-- start actionsToolbar-right configurationController+hidden-fields -->
			 	<input class="configurationController" title="##LL:newact.settings.title##" type="submit" name="newact[##configAction##]" value="##LL:configuration##..." />
			 	<input type="hidden" name="timeout" value="##timeout##" />
		 		<input type="hidden" name="refresh" value="##refresh##" />
		<input type="submit" name="logout" value="##LL:logout##" />
		 	</div><!-- end actionsToolbar-right button+hidden-fields -->
<div style="clear:both;"> </div>
</div>
<div style="margin:5px 0 0 0;padding:5px;border-top:2px solid #fff;background:#fff;border-radius:5px 5px 0 0 ;"></div>
