<div style="margin:0px;padding:5px 0;border:0px solid #a00;">
<div style="margin:0px;width:auto;float:left;margin-right:4px;"><!-- start actionsToolbar-left actions -->
			 	<input class="dateienAction" title="##LL:newact.dateien.title##" type="submit" name="newact[dateien]" value="##LL:newact.dateien.value##" />
			 	<input class="clouduserAction" title="##LL:newact.clouduser.title##" type="submit" name="newact[clouduser]" value="##LL:newact.clouduser.value##" />
			 	<input class="exportAction" title="##LL:newact.export.title##" type="submit" name="newact[export]" value="##LL:newact.export.value##" />
			 	<input class="documentsAction" title="##LL:newact.documents.title##" type="submit" name="newact[documents]" value="##LL:newact.documents.value##" />
			 	<label style="vertical-align:top;" class="switch ##compare_autorun_hide_class##" title="##LL:autostart_title##">
			 		<input id="autostart_check" type="checkbox" name="autostart" value="1" ##autostart_check## /> 
			 		<span class="slider round ##compare_autorun_hide_class##"></span>
			 	</label><label
			 	for="autostart_check" style="vertical-align:middle;" class="##compare_autorun_hide_class##" title="##LL:autostart_title##"
			 	>&nbsp;##LL:autostart## | </label>
			 	<span style="vertical-align:middle;">##connection_name##</span>
		 	</div><!-- end actionsToolbar-left -->
		 	<div style="margin:0px;width:auto;float:right;"><!-- start actionsToolbar-right configurationController+hidden-fields -->
			 	<input class="configurationController" type="submit" name="newact[##configAction##]" value="##LL:configuration##..." />
			 	<input type="hidden" name="timeout" value="##timeout##" />
		 		<input type="hidden" name="refresh" value="##refresh##" />
				<input type="submit" name="logout" value="##LL:logout##" />
		 	</div><!-- end actionsToolbar-right button+hidden-fields -->
<div style="clear:both;"></div>
</div>
<div style="margin:5px 0 0 0;padding:10px 15px 15px 15px;border-top:2px solid #fff;border-radius:5px 5px 0 0 ;background:#fff;">
			 	##LL:model.notes##: 
			 	<input class="listnotesAction" title="listnotes" type="submit" name="newact[listnotes]" value="##LL:model.notes.list##" />
			 	<input class="editnotesAction" title="editnotes" type="submit" name="newact[editnotes]" value="##LL:model.notes.edit##" />
 			 	<input class="viewnotesAction" title="viewnotes" type="submit" name="newact[viewnotes]" value="##LL:model.notes.view##" /> 
</div>
